<div class="card bg-light shadow-sm">
    <div class="card-header">
        <h2 class="card-title fs-1">Demographic Information</h2>
        <div class="card-toolbar">
            <!-- Content -->
        </div>
    </div>
    <div class="card-body card-scroll h-550px">
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Recipient" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text spanTitle="Case No" inputType="number" >
                </c-input_text >
            </div>
        </div>

        
        <div class="row mt-10">
            <div class="col-md-8">
                <c-input_text inputType="text" helpText="Recipient, Parent, Legal Guardian or Authorized Representative Signature">
                </c-input_text>
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" helpText="Date">
                </c-input_text>
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-8">
                <c-input_text inputType="text" helpText="Employee Signature">
                </c-input_text>
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" helpText="Date">
                </c-input_text>
            </div>
        </div>

    </div>
</div>