<div class="card bg-light shadow-sm">
    <div class="card-header">
        <h2 class="card-title fs-1">No-Harm Contract</h2>
        <div class="card-toolbar">
            <!-- Content -->
        </div>
    </div>
    <div class="card-body card-scroll h-550px">
        <div class="row">
            <div class="col-md-6">
                <c-input_text inputType="text" helpText="herby agree that I will not harm myself in any way, attempt suicide, or die by suicide">
                </c-input_text >
            </div>
        </div>
        
        <div class="row mt-15">
            <div class="col-md-12">
                <p>
                    Furthermore I agree that I will take the following actions if I am ever suicidal:
                </p>
                <p class="lh-lg ms-10">
                    1. &nbsp;&nbsp;&nbsp;&nbsp;I will remind myself that I can never, under any circumstances, harm myself in any way,
                    attempt suicide, or die by suicide. <br>
                    2. &nbsp;&nbsp;&nbsp;&nbsp;I will call 911 if I believe that I am in immediate danger of harming myself. <br>
                    3. &nbsp;&nbsp;&nbsp;&nbsp;I will call any or all of the following numbers if I am not in immediate danger of harming <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;myself but have suicidal thoughts(please list additional names, phone numbers, and any other relevant contact information below): <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. &nbsp;&nbsp;&nbsp;&nbsp;1-800-SUICIDE (1-800-784-2433) this is a 24 hour suicide prevention line that can
                    be called from anywhere in the U.S. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. &nbsp;&nbsp;&nbsp;&nbsp;211- Crisis Line <br>
                    4. &nbsp;&nbsp;&nbsp;&nbsp;I will continue talking on the phone with as many people as necessary for as long as necessary until the suicidal thoughts have subsided.
                </p>
            </div>
        </div>

        <div class="row mt-15">
            <div class="col-md-6">
                Client Signature: __________________________________
            </div>
            <div class="col-md-6">
                <c-input_text inputType="date" helpText="Date">
                </c-input_text>
            </div>
        </div>
        <div class="row mt-10">
            <div class="row">
                <div class="col-md-6">
                    <c-input_text spanTitle="Client Name" inputType="text" >
                    </c-input_text >
                </div>
            </div>
        </div>
    </div>
</div>