{% extends "base.html" %} {% load static %} 
{% block title %}Section 4{%endblock title %} 
{% block content %}
<div class="row g-6 pb-10">
    <div class="col-12 w-100 d-flex justify-content-between align-items-center">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Section 4</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="{% url "detail_customer_view" pk=customer.pk %}" class="text-muted text-hover-primary">Customer Detail</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Section 4</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        
        
        
    </div>
    <div class="col-12 ">
       {% include "pages/customers/actions/sections/section4/accordionList.html" %}
    </div>
    
    
  
</div>
{% endblock content %}
