<form hx-post="{% url 'upload_file' pk=customer.pk %}" 
                    hx-target="#modal-file-replace" 
                    enctype="multipart/form-data" 
                    method="post">
                        {% csrf_token %}
                        {% comment %} <input type="hidden" name="belongs_to" value="{{ customer.id }}">  <!-- Asociar al cliente actual --> {% endcomment %}
                
                        <div class="mb-3">
                            <label for="id_file" class="form-label">File</label>
                            <input type="file" name="file" id="id_file" class="form-control">
                            {% if form.file.errors %}
                                <div class="text-danger">{{ form.file.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_process_start_date" class="form-label">Process Start Date</label>
                            <input type="date" name="process_start_date" id="id_process_start_date" class="form-control">
                            {% if form.process_start_date.errors %}
                                <div class="text-danger">{{ form.process_start_date.errors.0 }}</div>
                            {% endif %}
                        </div>

                        {% if tag_message %}
                            <script>                
                                Swal.fire({
                                    position: "top-center",
                                    icon: '{% if "error" in tags %}error{% elif "success" in tags %}success{% elif "info" in tags %}info{% elif "warning" in tags %}warning{% else %}question{% endif %}',
                                    title: "{{tag_message}}",
                                    showConfirmButton: false,
                                    timer: 3000
                                });
                            </script>
                        {% endif %}

                        {% if  message %}
                            <div
                            hx-get="{% url 'filter_files_view' pk=customer.pk %}"
                            hx-target="#files-container"
                            hx-trigger="load"
                            >
                            </div>
                        {% endif %}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>