<form hx-post="{% url 'edit_objective' obj.id %}" hx-target="#modal-content-replace-edit-objective" method="post">
    {% csrf_token %}
    <div class="modal-header">
    <h5 class="modal-title">Edit Objective</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body row g-2">
    <input type="hidden" name="goal" value="{{ obj.goal.id }}">
    
    <div class="col-md-4">
        <input type="text" name="description" value="{{ obj.description }}" class="form-control">
        {% if form.description.errors %}
            <div class="text-danger">
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <input type="date" name="open_date" value="{{ obj.open_date|date:'Y-m-d'}}" class="form-control">
        {% if form.open_date.errors %}
            <div class="text-danger">
                {% for error in form.open_date.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <input type="date" name="close_date" value="{{ obj.close_date|date:'Y-m-d' }}" class="form-control">
        {% if form.close_date.errors %}
            <div class="text-danger">
                {% for error in form.close_date.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-12">
        <textarea name="intervention" rows="2" placeholder="New Intervention" class="form-control">{{ obj.intervention }}</textarea>
        {% if form.description.errors %}
            <div class="text-danger">
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <input type="hidden" name="static_text" value="Static Text.">
    </div>
    <div class="modal-footer">
    <button class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>

    {% if tag_message %}
        <script>                
            Swal.fire({
                position: "top-center",
                icon: '{% if "error" in tags %}error{% elif "success" in tags %}success{% elif "info" in tags %}info{% elif "warning" in tags %}warning{% else %}question{% endif %}',
                title: "{{tag_message}}",
                showConfirmButton: false,
                timer: 3000
            });
        </script>
    {% endif %}

    {% if  message == "Objective modified successfully!" %}
        <script>
            // Función para cerrar el modal y luego realizar la solicitud hx-get
            (function closeModalAndReload() {
                // Cierra el modal utilizando Bootstrap
                const modal = document.querySelector('.modal.show'); // Selecciona el modal abierto
                if (modal) {
                    const modalInstance = bootstrap.Modal.getInstance(modal);
                    if (modalInstance) {
                        modalInstance.hide(); // Cierra el modal
                    }
                }
        
                // Elimina el backdrop manualmente
                const backdrop = document.querySelector('.modal-backdrop');
                if (backdrop) {
                    backdrop.remove();
                }
        
                // Realiza la solicitud hx-get para recargar el contenedor
                setTimeout(() => {
                    const container = document.querySelector('#focus-area-container');
                    if (container) {
                        htmx.ajax('GET', '{% url "reload_data" pk=customer.pk %}', { target: '#focus-area-container' });
                    }
                }, 500); // Espera un breve momento para asegurarse de que el modal se cierre
            })();
        </script>
    {% endif %}

</form>