{% load static %}
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="col-12">
                <!--begin::Navbar-->
                <!--end::Navbar-->
                <!--begin::Basic info-->
                <div class="card mb-5 mb-xl-10">
                    <!--begin::Content-->
                    <div id="kt_account_settings_profile_details" class="collapse show">
                        <!--begin::Form-->
                        <form id="kt_account_profile_details_form" class="form">
                            <!--begin::Card body-->
                            <div class="card-body border-top p-9">
                                
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                            <div class="col-sm-6 fv-row">
                                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Username</label>
                                                <input type="text" name="username" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Max" />
                                            </div>
                                
                                            <div class="col-sm-6 fv-row">
                                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Email</label>
                                                <input type="text" name="email" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Max" />
                                            </div>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <div class="col-sm-6 fv-row">
                                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">First Name</label>
                                        <input type="text" name="first_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Max" />
                                    </div>
                        
                                    <div class="col-sm-6 fv-row">
                                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Last Name</label>
                                        <input type="text" name="last_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Max" />
                                    </div>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <div class="col-sm-6 fv-row">
                                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Phone number</label>
                                        <input type="text" name="first_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Max" />
                                    </div>
                        
                                    <div class="col-sm-6 fv-row">
                                        <c-input_select selectDefault="Rol" required="required" textHelp="Hola mundo" error="Este es el error que te digo">
                                            {{items}}
                                        </c-input_select>
                                    </div>
                                </div>
                                <!--end::Input group-->
                                <!--end::Input group-->
                                
                                
                                <!--begin::Input group-->
                               <!--begin::Input group-->
                               <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">Sign</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('{% if user.sign %}{{user.sign.url}}{% else %}{% static "assets/extra_media/misc/image.png" %}{% endif %})">
                                        <!--begin::Preview existing avatar-->
                                        <a href="{% if user.sign %}{{user.sign.url}}{% else %}{% static "assets/extra_media/misc/image.png" %}{% endif %}">
                                            <div  class="image-input-wrapper w-125px h-125px" style="background-image: url({% if user.sign %}{{user.sign.url}}{% else %}{% static "assets/extra_media/misc/image.png" %}{% endif %})"></div>
                                        </a>
                                        
                                        <!--end::Preview existing avatar-->
                                        <!--begin::Label-->
                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change sign">
                                            <i class="ki-duotone ki-pencil fs-7">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <!--begin::Inputs-->
                                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Cancel-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel sign">
                                            <i class="ki-duotone ki-cross fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                        <!--end::Cancel-->
                                        <!--begin::Remove-->
                                       
                                        <!--end::Remove-->
                                    </div>
                                    
                                    <!--end::Image input-->
                                    <!--begin::Hint-->
                                    <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                                    <!--end::Hint-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-sm-6 fv-row">
                                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Communication</label>
                                        <!--begin::Options-->
                                        <div class="d-flex align-items-center mt-3">
                                            <!--begin::Option-->
                                            <label class="form-check form-check-custom form-check-inline form-check-solid me-5">
                                                <input class="form-check-input" name="communication[]" type="checkbox" value="1" />
                                                <span class="fw-semibold ps-2 fs-6">Email</span>
                                            </label>
                                            <!--end::Option-->
                                            <!--begin::Option-->
                                            <label class="form-check form-check-custom form-check-inline form-check-solid">
                                                <input class="form-check-input" name="communication[]" type="checkbox" value="2" />
                                                <span class="fw-semibold ps-2 fs-6">Phone</span>
                                            </label>
                                            <!--end::Option-->
                                        </div>
                                        <!--end::Options-->
                                    </div>
                                    <!--end::Col-->
                                    <div class="col-sm-6 d-flex align-items-center">
                                        <label class="col-lg-4 col-form-label fw-semibold fs-6">Allow Marketing</label>
                                        <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                                            <input class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" checked="checked" />
                                            <label class="form-check-label" for="allowmarketing"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-0">
                                    <!--begin::Label-->
                                    
                                    <!--begin::Label-->
                                    <!--begin::Label-->
                                    
                                    <!--begin::Label-->
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Card body-->
                            <!--begin::Actions-->
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
                            </div>
                            <!--end::Actions-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Basic info-->
                
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
