{% if message %}
                            <script>                
                                Swal.fire({
                                    position: "top-center",
                                    icon: '{% if "error" in tags %}error{% elif "success" in tags %}success{% elif "info" in tags %}info{% elif "warning" in tags %}warning{% else %}question{% endif %}',
                                    title: "{{message}}",
                                    showConfirmButton: false,
                                    timer: 3000
                                });
            </script>
{% endif %}