<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% if goals %}
          {% for goal in goals %}
            <div class="card">
              <div class="card-body p-2">
                <div class="d-flex align-items-center justify-content-start gap-2">
                  <div class="">
                    <div>
                      <a 
                      hx-get="{% url 'add_goal_individual_therapy_note_view' pk=individual_therapy.pk goal=goal.pk %}"
                      hx-target="#GoalIndividualTherapySectionsResult"
                      hx-trigger="click"
                      hx-indicator="#addGoalspinner"
                      class="btn btn-light-success btn-sm d-flex justify-content-center align-items-center " >
                      <span id="addGoalspinner" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>
                        <i class="fs-2 bi-plus-square p-0"></i>
                      </a>
                    </div>
                  </div>
                  <div class="">
                    <span>
                      Goal#{{goal.focus_area.number}}: {{goal.title}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger" role="alert">
              <strong>Master not found!!!</strong> This customer don't contain a master.
            </div>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>