{% load static %}
<div class="d-flex flex-wrap flex-sm-nowrap">
    <!--begin: Pic-->
    
    <!--end::Pic-->
    <!--begin::Info-->
    <div class="flex-grow-1">
        
       
            <div class="p-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>
                        Therapist
                        
                    </h2>
                    <button
                      {% comment %} href="{% url "update_customer_view" pk=customer.pk %}"  {% endcomment %}
                      class="badge badge-light-warning bi-pencil-square btn btn-sm btn-outline-warning btn-flex btn-center fs-2 px-2"
                      data-kt-menu-trigger="click"
                      data-kt-menu-placement="bottom-end"
                      
                      ></button>
                      <div 
                    class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" 
                    data-kt-menu="true" 
                    id="kt_menu_673c0c868c157" 
                    style="" 
                    data-select2-id="select2-data-kt_menu_673c0c868c157"
                    >
                        <div id="updateTherapistGroupForm">
                        <form class="p-3"
                        hx-post="{% url 'update_therapist_individual_therapy_view' pk=individual_therapy.pk %}"
                        hx-target="#updateTherapistGroupPerfil"
                        hx-trigger="submit"
                        hx-indicator="#spinnerUpdateTherapistGroup"
                        >
                        {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label fw-semibold">Therapist:</label>
                                <select name="therapist" required aria-label="Select a therpist..." data-control="select2" data-placeholder="Select a therpist..." class="form-select form-select-solid form-select-sm fw-semibold">
                                    <option value="">Select a therpist...</option>
                                    {% for therapist in therapists %}
                                        <option value="{{therapist.pk}}" >{{therapist.first_name}} {{therapist.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-sm btn-primary d-flex justify-content-center align-items-center " >
                                    <span id="spinnerUpdateTherapistGroup" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>
                                    Change
                                </button>
                                
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="row mb-7" id="updateTherapistGroupPerfil">
                    
                    {% include "pages/indivualTherapy/components/updateTherapistGroupPerfil.html" %}
                    
                    
                    
                    
                </div>
                <div class="separator border-gray-200 mb-8"></div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>
                        Service
                        
                    </h2>
                    <form
                        hx-post="{% url 'update_service_individual_therapy_view' pk=individual_therapy.pk %}"
                        hx-target="#updateServiceGroupPerfil"
                        hx-trigger="submit"
                        hx-indicator="#spinnerUpdateServiceGroup"
                        >
                        {% csrf_token %}
                        <button
                      type="submit"
                      class="position-relative d-flex justify-content-center align-items-center badge badge-light-warning bi-pencil-square btn btn-sm btn-outline-warning btn-flex btn-center fs-2 px-2"

                      >
                      <span id="spinnerUpdateServiceGroup" class="htmx-indicator position-absolute spinner-border spinner-border" ></span>
                    </button>
                    </form>
                    
                </div>
                <div class="row mb-7" id="updateServiceGroupPerfil">
                    {% include "pages/indivualTherapy/components/updateServiceGroupPerfil.html" %}
                </div>
                <div class="separator border-gray-200 mb-8"></div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>
                        Customer
                        
                    </h2>
                    
                    
                </div>
                <div class="row mb-7" >
                    <div class="col-sm-6 col-md-4 mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Case No</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.case_no}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Full name</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.full_name}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    
                    <div class="col-sm-6 col-md-4 ">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Phone number</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.movile}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Email</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.email}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Phone</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.movile}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    
                    <div class="col-sm-6 col-md-4 ">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Insure</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.insurance.name}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="col-sm-6 col-md-4 mb-7">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Principal Diagnostic</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.diagnostic.code}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    
                    
                    
                    <div class="col-sm-6 col-md-4 ">
                        <!--begin::Label-->
                        <label class="col-lg-4 fw-semibold ">Gender</label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8">
                            <span class="fw-bold fs-6 text-gray-800">{{individual_therapy.customer.get_gender_display}}</span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="col-sm-6 col-md-4  mt-4 mt-sm-0"> 
                        <!--begin::Label-->
                        
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-8 d-flex justify-content-sm-start justify-content-end">
                            <a  href="{% url 'detail_customer_view' pk=individual_therapy.customer.pk %}" class="btn btn-primary fw-bold fs-6">More info</a>
                        </div>
                        <!--end::Col-->
                    </div>
                </div>
                <div class="separator border-gray-200 mb-8"></div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2>
                        Sections
                        
                    </h2>
                        <form
                        hx-post="{% url 'create_section_individual_therapy_view' pk=individual_therapy.pk %}"
                        hx-trigger="submit"
                        hx-target="#sectionResults" 
                        >
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm  btn-flex btn-success fw-bold"
                        
                        >
                            Create
                        </button>
                        </form>
                       
                </div>
                <div id="sectionResults">
                    {% include "pages/indivualTherapy/components/sectionIndividualTherapyList.html" %}
                </div>
                
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            
            
    </div>
    <!--end::Info-->
</div>