<div class="col-sm-6 col-md-4 mb-7">
    <!--begin::Label-->
    <label class="col-lg-4 fw-semibold ">Full name</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{group.therapist.first_name}} {{group.therapist.last_name}}</span>
    </div>
    <!--end::Col-->
</div>
<div class="col-sm-6 col-md-4 mb-7">
    <!--begin::Label-->
    <label class="col-lg-4 fw-semibold ">Username</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{group.therapist.username}}</span>
    </div>
    <!--end::Col-->
</div>
<div class="col-sm-6 col-md-4 mb-7">
    <!--begin::Label-->
    <label class="col-lg-4 fw-semibold ">Email</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{group.therapist.email}}</span>
    </div>
    <!--end::Col-->
</div>
<div class="col-sm-6 col-md-4 ">
    <!--begin::Label-->
    <label class="col-lg-4 fw-semibold ">Phone number</label>
    <!--end::Label-->
    <!--begin::Col-->
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{% if group.therapist.phone_number %}{{group.therapist.phone_number}}{% else %}-{% endif %}</span>
    </div>
    <!--end::Col-->
</div>