
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Patient Name" disabled="disabled" inputValue="{{ customer.first_name }} {{ customer.last_name }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text spanTitle="MR #" disabled="disabled" inputValue="{{ customer.case_no }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lh-lg">
                    It is the policy of Homestead Behavior Health Plus LLC from time to time, to distribute snacks and
                    prepared food, including breakfast and lunch, to clients attending the program. I hereby release
                    Homestead Behavior Health Plus LLC from any liability, in the rare event that a possible ill effect
                    may occur, as the result of our organization’s food distribution. This release of liability also applies
                    to lunches that I may choose to take home to enjoy following the program.
                    We, at Homestead Behavior Health Plus LLC strive to provide the best quality of services to our
                    clients, and, as such, have implemented strict controls to closely monitor our food service process in
                    order to prevent ill effects from occurring. <br>                    
                </p>
                <p class="lh-lg">
                    I have read and understand all of the conditions stated above
                </p>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-12 mb-5">
                <div class="form-check">
                    <input disabled="disabled" checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                    <label for="flexCheckDefault6">
                        Documents were translated to me in my native language (if needed).
                    </label>
                </div>
            </div>
        </div>

        
        <div class="row mt-10 mb-5 align-items-end">
            <div class="col-md-4">
                <div class="border-bottom border-2 border-gray-300 mb-3 justify-content-center d-flex">
                    <img class="" width="130" src="{% if customer.sign %}{{customer.sign.url}}{% endif %}"/>
                </div>
                <h6 class="text-gray-900 mb-5 text-center">Client Signature.</h6>    
            </div>

            <div class="col-md-4">
                <c-input_text helpText="Patient Name" disabled="disabled" inputValue="{{ customer.first_name }} {{ customer.last_name }}" inputType="text" >
                </c-input_text >
            </div>

            <div class="col-md-4">
                <c-input_text inputType="date" disabled="disabled" helpText="Date" inputValue="{{customer.create_at|date:'Y-m-d'}}">
                </c-input_text>
            </div>
            <div class="col-md-12">
                <p class="lh-lg">
                    I have read and understand all of the conditions stated above. Furthermore, I assert that I am the legal
                    guardian of the above named client and that such; I have the right to sign on behalf of the client
                </p>
            </div>
        </div>

        <div class="row mt-10 mb-5 align-items-end">
            <div class="col-md-4">
                <div class="border-bottom border-2 border-gray-300 mb-3 justify-content-center d-flex">
                    <img class="" width="130" src="{% if customer.sign %}{{customer.sign.url}}{% endif %}"/>
                </div>
                <h6 class="text-gray-900 mb-5 text-center">Witness Signature.</h6>    
            </div>
            <div class="col-md-4">
                <c-input_text disabled="disabled" inputType="text" helpText="Name" inputValue="{{ request.user.first_name }} {{ request.user.last_name }}">
                </c-input_text>
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" disabled="disabled" helpText="Date" inputValue="{{customer.create_at|date:'Y-m-d'}}">
                </c-input_text>
            </div>
        </div>
