
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Recipient" disabled="disabled" inputValue="{{ customer.first_name }} {{ customer.last_name }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text disabled="disabled" inputValue="{{ customer.case_no }}" spanTitle="Case No" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="No. of Dependents" disabled="disabled" inputValue="{{ customer.no_dependences }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Family Yearly Income $" disabled="disabled" inputValue="{{ customer.family_year_income }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Discount from standard rate" disabled="disabled" inputValue="{{ customer.discount_standard_rate }} %" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Discount from standard rate" disabled="disabled" inputValue="{{ customer.discount_standard_rate }} %" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 border border-dark p-2">
                <label >Responsible Party for Private Pay Charge</label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <c-input_text spanTitle="Last Name" disabled="disabled" inputValue="{{ customer.responsible_payee_last_name }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="First Name" disabled="disabled" inputValue="{{ customer.responsible_payee_first_name }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="rounded border p-4">
            <div class="row text-center align-items-center">
            <div class="col-lg-2 col-md-3 col-6 d-flex flex-column justify-content-center align-items-center">
                <label>Relationship to recipient:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled="disabled" class="form-check-input" type="checkbox" value="" disabled="disabled" id="flexCheckDefault1" />
                <label for="flexCheckDefault1">
                    Self
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled="disabled" class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                <label for="flexCheckDefault2">
                    Spouse
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled="disabled" class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                <label for="flexCheckDefault3">
                    Child
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled="disabled" class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" />
                <label for="flexCheckDefault4">
                    Other:
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-lg-0">
                <c-input_text inputType="text" marginBottom="0" marginTop="2">
                </c-input_text>
            </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <c-input_text spanTitle="Address" disabled="disabled" inputValue="{{ customer.responsible_payee_address }}" inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" disabled="disabled" inputValue="{{ customer.responsible_payee_city }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" disabled="disabled" inputValue="{{ customer.responsible_payee_state }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" disabled="disabled" inputValue="{{ customer.responsible_payee_zip }}" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Phone" disabled="disabled" inputValue="{{ customer.responsible_payee_phone_number }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Fax" disabled="disabled" inputValue="{{ customer.responsible_payee_fax }}" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 border border-dark p-2">
                <label>Recipient Third Party (Insurance) Information #1</label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <c-input_text spanTitle="Contract/Insurance No." disabled="disabled" inputValue="{{ customer.medicaid_no }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Company Name" disabled="disabled" inputValue="{{ customer.agency.name }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <c-input_text spanTitle="Address" disabled="disabled" inputValue="{{ customer.agency.address }}" inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" disabled="disabled" inputValue="{{ customer.agency.city }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" disabled="disabled" inputValue="{{ customer.agency.state }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" disabled="disabled" inputValue="{{ customer.agency.zip }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Contact Name" disabled="disabled" inputValue="{{ customer.first_name }} {{ customer.last_name }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Contact Phone" disabled="disabled" inputValue="{{ customer.agency.phone_number }}" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
                <label>Policy Holder Information</label>
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Last Name" disabled="disabled" inputValue="{{ customer.first_name }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="First Name" disabled="disabled" inputValue="{{ customer.last_name }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    <c-input_text spanTitle="Address" disabled="disabled" inputValue="{{ customer.address }}" inputType="text" >
                    </c-input_text >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" disabled="disabled" inputValue="{{ customer.city }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" disabled="disabled" inputValue="{{ customer.state }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" disabled="disabled" inputValue="{{ customer.zip }}" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Phone" disabled="disabled" inputValue="{{ customer.movile }}" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">

                <div class="rounded border p-2">
                    <div class="d-flex align-items-center">
                        <label class="form-label ms-2 me-4">Gender</label>
            
                        <div class="form-check me-8">
                            
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                value="M" 
                                id="flexCheckDefault5" 
                                name="radio2" 
                                disabled 
                                {% if customer.gender == 'M' %}checked{% endif %}>
                            <label for="flexCheckDefault5">
                                Male
                            </label>
                        </div>
            
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                value="F" 
                                id="flexCheckChecked6" 
                                name="radio2" 
                                disabled
                                {% if customer.gender == 'F' %}checked{% endif %}>
                            <label for="flexCheckChecked6">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rounded border p-4">
            <div class="row text-center align-items-center">
            <div class="col-lg-2 col-md-3 col-6 d-flex flex-column justify-content-center align-items-center">
                <label>Relationship to recipient:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input checked disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault7" />
                <label for="flexCheckDefault7">
                    Self
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault8" />
                <label for="flexCheckDefault8">
                    Spouse
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault9" />
                <label for="flexCheckDefault9">
                    Child
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-6 d-flex flex-column justify-content-center align-items-center">
                <div class="form-check">
                <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault10" />
                <label for="flexCheckDefault10">
                    Other:
                </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-lg-0">
                <c-input_text inputType="text" marginBottom="0" marginTop="2">
                </c-input_text>
            </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <c-input_text spanTitle="DOB" disabled="disabled" inputValue="{{customer.dob|date:'Y-m-d'}}" inputType="date" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="SSN" disabled="disabled" inputValue="{{ customer.ssn }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 border border-dark p-2">
                <label>Financial Determination Worksheet</label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <label >Sources of Yearly Income:</label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3">
                <label>Your Earnings from full or part time work:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Your Spouses earnings:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Child Support:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Alimony:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Unemployment Compensation:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Workmen's Compensation:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Veteran's or GI Benefits:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Social Security:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Interest on Savings Account:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Income from Investments/royalties:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Temporary Assistance to Needy Families (TANF): </label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>SSI:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>SSDI:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Other Public Assistance:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Other Income:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="fw-bold">TOTAL YEARLY INCOME:</label>
            </div>
            <div class="col-md-3">
                <c-input_text inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="form-check">
                    <input checked disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                    <label for="flexCheckDefault6">
                        Documents were translated to me in my native language (if needed).
                    </label>
                </div>
            </div>
        </div>
        
        <div class="row mt-10">
            <div class="col-md-8">
                <c-input_text inputType="text" disabled="disabled" inputValue="{{ request.user.first_name }} {{ request.user.last_name }}"  helpText="Name of Person Completing Form">
                </c-input_text>
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" disabled="disabled" inputValue="{{customer.create_at|date:'Y-m-d'}}" helpText="Date">
                </c-input_text>
            </div>
        </div>