
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Client`s Name" inputValue="{{customer.first_name}} {{customer.last_name}}" disabled="disabled" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text spanTitle="Date of Birth" inputType="date" disabled="disabled" inputValue="{{customer.dob|date:'Y-m-d'}}" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Address" disabled="disabled" inputValue="{{customer.address}}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text spanTitle="FL" disabled="disabled" inputValue="{{customer.zip}}" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text spanTitle="Legal Guardian (if applicable)" disabled="disabled" inputValue="{% if customer.legal_guardian_full_name %}{{customer.legal_guardian_full_name}}{% endif %}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-12">
                <c-input_text spanTitle="Emergency Contact" disabled="disabled" inputValue="{{customer.emergency_contact_person}}" inputType="text" >
                </c-input_text >
            </div>        
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Relationship" disabled="disabled" inputValue="{% if customer.legal_guardian_relationship %}{{customer.legal_guardian_relationship}}{% endif %}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Phone #" disabled="disabled" inputValue="{{ customer.movile }}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label><span class="fw-bold h4 text-decoration-underline">Insurance Information</span></label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <c-input_text spanTitle="Medicaid #" disabled="disabled" inputValue="{{ customer.medicaid_no }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="SS #" disabled="disabled" inputValue="{{ customer.ssn }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Medicaid Gold Card #" disabled="disabled" inputValue="{{ customer.medicaid_gold_card }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Medicare #" disabled="disabled" inputValue="{{ customer.medicare_no }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-12">
                <c-input_text spanTitle="HMO Name/ Number" disabled="disabled" inputValue="{{ customer.insurance.name }} // Member ID:{{ customer.medicaid_no }}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-12">
                <label for="additionalInfo" class="form-label">Presenting Problem or Reason for Referral (briefly describe):</label>
                <textarea class="form-control" id="additionalInfo" rows="3" style="resize: none;"></textarea>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-8">
                <c-input_text spanTitle="Diagnosis (Axis I)" inputType="text" disabled="disabled" inputValue="{{ customer.diagnostic.code }} // {{ customer.diagnostic.description}}" helpText="Code // Descriptor">
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text spanTitle="Medications" disabled="disabled" inputValue="{% for medication in customer.medications.all %}{{ medication.name }} {{ medication.quantity }}mg{% if not forloop.last %}, {% endif %}{% endfor %}" inputType="text">
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Referred by" disabled="disabled" default="default" inputValue="{{ customer.referred_by }}" inputType="text">
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Phone #" default="default" disabled="disabled" inputValue="{{ customer.referred_movile }}" inputType="text">
                </c-input_text >
            </div>
        </div>

        <div class="rounded border p-4">
            <div class="row text-center align-items-center">
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input checked class="form-check-input" type="radio" ckecked value="" id="flexCheckDefault1" />
                    <label for="flexCheckDefault1">
                        Psychiatrist
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input class="form-check-input" type="radio" value="" disabled id="flexCheckDefault2" />
                    <label for="flexCheckDefault2">
                        PCP
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input class="form-check-input" type="radio" value="" disabled id="flexCheckDefault3" />
                    <label for="flexCheckDefault3">
                        Other: 
                    </label>
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center mt-3 mt-md-0">
                    <c-input_text inputType="text" marginBottom="0">
                    </c-input_text>
                </div>
            </div>
        </div>

        <div class="rounded border p-4 mt-5">
            <div class="row text-center align-items-center">
                <div class="col-md-4 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" disabled value="" id="flexCheckDefault4" />
                    <label for="flexCheckDefault4">
                        Is the client already receiving TCM services?
                    </label>
                    </div>
                </div>
                <div class="col-md-4 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input disabled="disabled" class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" />
                    <label for="flexCheckDefault5">
                        Yes
                    </label>
                    </div>
                </div>
                <div class="col-md-4 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input disabled="disabled" class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                    <label for="flexCheckDefault6">
                        No
                    </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <c-input_text inputType="text" spanTitle="Is the client English, Spanish or Creole speaking?" inputValue="Spanish" disabled="disabled">
                </c-input_text>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <label >Program being referred to:</label>
            </div>
        </div>
        <div class="rounded border p-4">
            <div class="row text-center align-items-center">
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input class="form-check-input" type="radio" value="" id="flexCheckDefault7" disabled="disabled" />
                    <label for="flexCheckDefault7">
                        TCM
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input checked class="form-check-input" type="radio" value="" id="flexCheckDefault8" />
                    <label for="flexCheckDefault8">
                        PSR
                    </label>
                    </div>
                </div>
                <div class="col-md-4 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input checked class="form-check-input" type="radio" value="" id="flexCheckDefault9" />
                    <label for="flexCheckDefault9">
                        Individual/Family Therapy
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input checked class="form-check-input" type="radio" value="" id="flexCheckDefault10" />
                    <label for="flexCheckDefault10">
                        Psychiatrist Visit
                    </label>
                    </div>
                </div>
                <div class="col-md-2 col-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-check">
                    <input checked class="form-check-input" type="radio" value="" id="flexCheckDefault11"/>
                    <label for="flexCheckDefault11">
                        LMHC
                    </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-10 mb-5 align-items-end">
            <div class="col-md-4">
                <c-input_text disabled="disabled" inputType="text" helpText="Person completing the form" inputValue="{{ request.user.first_name }} {{ request.user.last_name }}">
                </c-input_text>
            </div>
            <div class="col-md-4">
                <div class="border-bottom border-2 border-gray-300 mb-3 justify-content-center d-flex">
                    <img class="" width="130" src="{% if customer.sign %}{{customer.sign.url}}{% endif %}"/>
                </div>
                <h6 class="text-gray-900 mb-5 text-center">Signature.</h6>
                
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" disabled="disabled" helpText="Date" inputValue="{{customer.create_at|date:'Y-m-d'}}">
                </c-input_text>
            </div>
        </div>

        <div class="rounded border p-4">
            <div class="row">
                <div class="col-md-12 mb-10">
                    <label class="text-decoration-underline h4">For Office Use Only</label>
                </div>
                <div class="col-md-8">
                    <c-input_text inputType="text" spanTitle="Assigned To" helpText="Name / Program">
                    </c-input_text>
                </div>
                <div class="col-md-2 mb-5">
                    Client Signature: ______________________
                </div>
                <div class="col-md-2">
                    <c-input_text inputType="date" helpText="Date">
                    </c-input_text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <c-input_text inputType="text" helpText="Supervisor`s Name">
                    </c-input_text>
                </div>
                <div class="col-md-3">
                    <c-input_text inputType="text" helpText="Program">
                    </c-input_text>
                </div>
                <div class="col-md-4 mt-5 mb-5">
                    Client Signature: __________________________________
                </div>
                <div class="col-md-2">
                    <c-input_text inputType="date" helpText="Date">
                    </c-input_text>
                </div>
            </div>
        </div>