
        <!-- Client name and Case No -->
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="Recipient" disabled="disabled" inputValue="{{customer.first_name}} {{customer.last_name}}" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-4">
                <c-input_text spanTitle="Case No" disabled="disabled" inputValue="{{customer.case_no}}" inputType="text" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="DOB" disabled="disabled" inputValue="{{customer.dob|date:'Y-m-d'}}" inputType="date" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="SSN" inputType="text" disabled="disabled" inputValue="{{customer.ssn}}">
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text spanTitle="Address" inputType="text" disabled="disabled" inputValue="{{customer.address}}" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" inputType="text" disabled="disabled" inputValue="{{customer.city}}" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" inputType="text" disabled="disabled" inputValue="{{customer.state}}" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" inputType="number" disabled="disabled" inputValue="{{customer.zip}}">
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>This will authorize:</label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <c-input_text spanTitle="Name of Facility, Individual or Agency:" inputType="text" disabled="disabled" inputValue="{% if customer.legal_guardian_full_name %}{{customer.legal_guardian_full_name}}{% endif %}" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text disabled="disabled" inputValue="{% if customer.legal_guardian_address %}{{customer.legal_guardian_address}}{% endif %}" spanTitle="Address" inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text disabled="disabled" inputValue="{% if customer.legal_guardian_city %}{{customer.legal_guardian_city}}{% endif %}" spanTitle="City" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text disabled="disabled" inputValue="{% if customer.legal_guardian_state %}{{customer.legal_guardian_state}}{% endif %}" spanTitle="State" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text disabled="disabled" inputValue="{% if customer.legal_guardian_zip %}{{customer.legal_guardian_zip}}{% endif %}" spanTitle="Zip" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text disabled="disabled" inputValue="{% if customer.legal_guardian_phone_number %}{{customer.legal_guardian_phone_number}}{% endif %}" spanTitle="Phone" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text disabled="disabled" spanTitle="Fax" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="rounded border p-2">
                    <div class="d-flex align-items-center">
            
                        <div class="form-check me-8">
                            <input disabled class="form-check-input" type="radio" value="" id="flexCheckDefault1" name="radio1">
                            <label for="flexCheckDefault1">
                                And
                            </label>
                        </div>
                        
                        <div class="form-check me-3">
                            <input disabled class="form-check-input" type="radio" value="" id="flexCheckChecked1" name="radio1" >
                            <label for="flexCheckChecked1">
                                Or
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <c-input_text spanTitle="Staff" inputType="text">
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text spanTitle="Address" inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Phone" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Fax" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-2">
                <div class="rounded border p-2">
                    <div class="d-flex align-items-center">
    
                        <div class="form-check me-8">
                            <input disabled class="form-check-input" type="radio" value="" id="flexCheckDefault10" name="radio2">
                            <label for="flexCheckDefault10">
                                Yes
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <input checked class="form-check-input" type="radio" value="" id="flexCheckChecked11" name="radio2" >
                            <label for="flexCheckChecked11">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <label class="form-label ms-2 me-4">To release request general medical, psychiatric/psychological,
                    alcohol and drug abuse information and/or records in accordance with 
                    Florida Statues 394, 459, 396, 11, 297, 053, 90.50 and 458.21
                </label>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <div class="rounded border p-2">
                    <div class="d-flex align-items-center">
    
                        <div class="form-check me-8">
                            <input disabled class="form-check-input" type="radio" value="" id="flexCheckDefault14" name="radio3">
                            <label for="flexCheckDefault14">
                                To
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <input disabled class="form-check-input" type="radio" value="" id="flexCheckChecked15" name="radio3" >
                            <label for="flexCheckChecked15">
                                From
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <c-input_text inputType="text" spanTitle="Name of Facility, Individual or Agency">
                </c-input_text>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <c-input_text spanTitle="Address" inputType="text" >
                </c-input_text >
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <c-input_text spanTitle="City" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="State" inputType="text" >
                </c-input_text >
            </div>
            <div class="col-md-2">
                <c-input_text spanTitle="Zip" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <c-input_text spanTitle="Phone" inputType="number" >
                </c-input_text >
            </div>
            <div class="col-md-6">
                <c-input_text spanTitle="Fax" inputType="number" >
                </c-input_text >
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="rounded border p-4">
                    <div class="d-flex align-items-center">
                        <label class="me-5">In the form of: </label>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault16" />
                            <label for="flexCheckDefault16">
                                Verbal Information
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault17" />
                            <label for="flexCheckDefault17">
                                Facsimile
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault18" />
                            <label for="flexCheckDefault18">
                                Written Records
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault19" />
                            <label for="flexCheckDefault19">
                                All of the before mentioned
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="rounded border p-4">
                    <div class="d-flex align-items-center">
                        <label class="me-5">For the purpose of: </label>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault20" />
                            <label for="flexCheckDefault20">
                                Treatment/Treatment Planning
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault21" />
                            <label for="flexCheckDefault21">
                                Case Management
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input disabled class="form-check-input" type="checkbox" value="" id="flexCheckDefault22" />
                            <label for="flexCheckDefault22">
                                Other:
                            </label>
                        </div>
                        <c-input_text inputType="text">
                        </c-input_text>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <label>I understand that the specific reports disclosed might include:</label>
            </div>
        </div>
        <div class="row">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="rounded border p-4">
                        <div class="d-flex align-items-center">
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault23" />
                                <label for="flexCheckDefault23">
                                    Discharge/Termination Summary
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled  class="form-check-input" type="checkbox" value="" id="flexCheckDefault24" />
                                <label for="flexCheckDefault24">
                                    School Records
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault25" />
                                <label for="flexCheckDefault25">
                                    Progress Reports
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault26" />
                                <label for="flexCheckDefault26">
                                    Incident Reports
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="rounded border p-4">
                        <div class="d-flex align-items-center">
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault27" />
                                <label for="flexCheckDefault27">
                                    Psychiatric/Psychological Evaluations
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault28" />
                                <label for="flexCheckDefault28">
                                    History, Physical
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault29" />
                                <label for="flexCheckDefault29">
                                    Lab Work
                                </label>
                            </div>
                            <div class="form-check me-5">
                                <input disabled checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault30" />
                                <label for="flexCheckDefault30">
                                    Hospital Records
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <c-input_text inputType="text" spanTitle="Other (explain)">
                </c-input_text>
            </div>
        </div>
        <!-- Name in the span must be changed when backend is running!!!!!!!!! -->
        <div class="row">
            <div class="col-md-12">
                <label class="mb-3">
                    I understand this consent is revocable upon written notice to <span class="text-decoration-underline">Homestead Behavior Health Plus LLC</span> except to the extent that
                    action by <span class="text-decoration-underline"> {{customer.first_name}} {{customer.last_name}}</span> has been taken in reliance on this
                    authorization and that this authorization shall remain in force for a twelve-month period in order to effect the purpose for which it
                    is given, unless resolved by recipient or legal representative, as above.
                </label>
                <label >
                    Alcohol and drug abuse information if present may be disclosed from records whose confidentiality is protected by Federal
                    regulations (42 CFR, Part II) prohibit making any further disclosure of records without the specific written authorization of the person
                    served or legal representative, or as otherwise permitted by such regulations. This information may not be used to criminally
                    prosecute the recipient
                </label>
            </div>
        </div>

        <!-- Client Signature -->
        <div class="row mt-10 align-items-end">
            <div class="col-md-8">
                <div class="border-bottom border-2 border-gray-300 mb-3 justify-content-center d-flex">
                    <img class="" width="130" src="{% if customer.sign %}{{customer.sign.url}}{% endif %}"/>
                </div>
                <h6 class="text-gray-900 mb-5 text-center">Recipient, Parent, Legal Guardian or Authorized Representative Signature</h6>
                
            </div>
            <div class="col-md-4 ">
                <c-input_text inputType="date" helpText="Date">
                </c-input_text>
            </div>
        </div>

        <div class="row mt-10 align-items-end">
            <div class="col-md-8">
                <div class="border-bottom border-2 border-gray-300 mb-3 justify-content-center d-flex">
                    <img class="" width="130" src="{% if user.sign %}{{user.sign.url}}{% endif %}"/>
                </div>
                <h6 class="text-gray-900 mb-5 text-center">Employee Signature</h6>
                
                
            </div>
            <div class="col-md-4">
                <c-input_text inputType="date" helpText="Date">
                </c-input_text>
            </div>
        </div>

