<div class="card mb-6">
    <div class="pt-9 pb-0">
        <!--begin::Details-->
        {% include "pages/customers/actions/components/customerFormProfile.html" %}
        <!--end::Details-->
        <!--begin::Navs-->
        <ul class="nav nav-tabs nav-line-tabs-2x border-transparent gap-3 fs-5 fw-bold" role="tablist">
            <!--begin::Nav item-->
            <li class="nav-item mt-2 " role="presentation">
                <button class="nav-link active text-active-primary  py-5" id="proccess-tab" data-bs-toggle="tab" data-bs-target="#proccess-tab-pane" type="button" role="tab" aria-controls="proccess-tab-pane" aria-selected="true">Proccess</button>
            </li>
            <!--end::Nav item-->
            
            
            <!--begin::Nav item-->
            <li class="nav-item mt-2" role="presentation">
                <button class="nav-link text-active-primary  py-5" id="documents-tab" data-bs-toggle="tab" data-bs-target="#documents-tab-pane" type="button" role="tab" aria-controls="documents-tab-pane" aria-selected="false">Documents</button>
            </li>
            <!--end::Nav item-->
            
            
        </ul>
        <!--begin::Navs-->
    </div>
</div>
