{% load static %}
<div class="d-flex flex-wrap flex-sm-nowrap">
    <!--begin: Pic-->
    
    <!--end::Pic-->
    <!--begin::Info-->
    <div class="flex-grow-1">
        <form  method="POST" id="kt_account_profile_details_form" class="form">
            {% csrf_token %}
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
                
                <!--begin::Input group-->
                <div class="row ">
                            <div class="col-sm-6 fv-row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Code</label>
                                <input type="text" name="code" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Code" value="{{ customer.code }}" />
                            </div>
                
                            <div class="col-sm-6 fv-row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Email</label>
                                <input type="email" name="email" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Email" value="{{ customer.email }}" />
                            </div>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row ">
                    <div class="col-sm-6 fv-row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">First Name</label>
                        <input type="text" name="first_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="{{ customer.first_name }}" />
                    </div>
        
                    <div class="col-sm-6 fv-row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Last Name</label>
                        <input type="text" name="last_name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Last name" value="{{ customer.last_name }}" />
                    </div>
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="row ">
                    <div class="col-sm-6 fv-row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Phone number</label>
                        <input type="text" name="phone_number" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Phone number" value="{{ customer.phone }}" />
                    </div>
        
                    <div class="col-sm-6 fv-row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semibold fs-6">Address</label>
                        <input type="text" name="address" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Address" value="{{ customer.address }}" />
                    </div>
                </div>
                <!--end::Input group-->
                <!--end::Input group-->
                
                
                <!--begin::Input group-->
               <!--begin::Input group-->
               <div class="row ">
                <!--begin::Label-->
               
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-sm-6 mb-6">
                   
                        <c-input_select 
                        selectDefault="Insurence" 
                        name="groups"
                        required="required" 
                        textHelp="Select insurence by user" 
                        error=""
                        item_select="{{user.groups.all.0}}"
                        >
                            {{items}}
                        </c-input_select>
                   
                </div>
                <!--end::Col-->
               
            </div>
            
            </div>
            <!--end::Card body-->
            <!--begin::Actions-->
            <div class="card-footer d-flex gap-3 justify-content-end py-6 px-9">
                <a href="{% url 'sign_customer_view' pk=1 %}" type="submit" class="btn btn-light btn-sm" id="kt_account_profile_details_submit">
                    <i class=" bi-file-text-fill"></i> Sign
                </a>
                <button type="submit" class="btn btn-primary btn-sm" id="kt_account_profile_details_submit">Save Changes</button>
            </div>
            <!--end::Actions-->
        </form>
    </div>
    <!--end::Info-->
</div>