
<div class="m-0" data-select2-id="select2-data-123-9c37" >


    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-sm btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#uploadFileModal">
        Upload File
    </button>



    <!-- Modal de Bootstrap -->
    <div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-file-replace-user">
                    {% include "pages/accounts/actions/partials/modal_form.html" %}
                </div>
            </div>
        </div>
    </div>
    

    
</div>


