{% extends "base.html" %}

{% load static %}
{% block content %}


    {% comment %} {% include "pages/forms/section1/main_form.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/conset_for_treatment.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/demographic_information.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/consent_for_release_and_request_of_information.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/consumer_rights.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/consumer_rights_(continued).html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/acknowledgement_of_receipt_of_HIPPA.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/access_to_services_in_an_emergency.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/no_harm_contract.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/mental_health_advance_directive.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section1/orientation_checklist.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section2/referral_form.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section2/fee_agreement.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section2/food_policy.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section2/permission_photos_videotape.html" %} {% endcomment %}
	{% comment %} {% include "pages/forms/section2/transportation_policy.html" %} {% endcomment %}
	{% include "pages/forms/section2/recipient_financial_information.html" %}

    
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}