<form 
                    hx-post="{% url 'create_symptom_view' %}"
                    hx-target="#SymptomFormCreate"
                    hx-trigger="submit"
                    hx-indicator="#spinnerCreate"
                    class=""
                    >
                    {% csrf_token %}    
                        <!--begin::Header-->
                        <div class="px-7 py-5">
                            <div class="fs-5 text-gray-900 fw-bold">Create user</div>
                        </div>
                        
                        <!--end::Header-->
                        <!--begin::Form-->
                        <div class=" px-5 py-3">
                            <div class="mb-3">
                                <!--begin::Label-->
                                <label class="form-label fw-semibold">Name:</label>
                                <!--end::Label-->
                                <!--begin::Switch-->
                                <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                    <input type="text" required value="{% if form.name.value %}{{form.name.value}}{% endif %}" name="name" class="form-control  form-control-sm form-control-solid mb-3 mb-lg-0" placeholder="Name"  />
                                </div>
                                {% if form.name.errors %}
                                    <div class="alert alert-danger mt-2 py-1 px-2">
                                        
                                        {% for error in form.name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <!--end::Switch-->
                            </div>
                            
                        </div>
                        
                        <div class="px-5 py-3">
                            <!--begin::Input group-->
                            
                           
                            <!--begin::Actions-->
                            {% if  message %}
                                <div class="alert alert-success mt-2 py-1 px-2">
                                    {{message}}
                                </div>
                                <div
                                hx-get="{% url 'filter_symptoms_view' %}"
                                hx-target="#symptomTableResult"
                                hx-trigger="load"
                                >
                                </div>
                            {% endif %}
                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-sm btn-light btn-active-light-danger me-2" >Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary d-flex justify-content-center align-items-center " >
                                    <span id="spinnerCreate" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>
                                    Create
                                </button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Form-->
                    </form>